.about-prose {
  float: left;
  width: 100%;
	h1 {
		font-size: 3rem;
    margin-bottom: $global-spacing;
	}
  h2 {
    font-size: 2rem;
  }
	p {
		opacity: 0.65;
    margin-bottom: $global-spacing * 1.5;
    line-height: 1.25rem;
	  font-family: $base-font-family;
	}
  a {
    font-size: 1rem;
  }
  @include media(medium-up) {
    width: 50%;
    margin-left: $global-spacing * 3;
  }
}

.about__header {
  padding: ($global-spacing * 3) 0 ($global-spacing * 2) 0;
  h1 {
    font-size: 4rem;
    line-height: 3.75rem;
    margin-bottom: $global-spacing;
  } 
}

.about-image {
  float: left;
  width: 100%;
  background-image: url(../graphics/about.jpg);
  background-size: cover;
  height: 300px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: $global-spacing;
  margin-top: $global-spacing;
  @include media(medium-up) {
    margin-top: 0;
    width: 40%;
    margin-bottom: 0;
    height: 400px;
  }
}

.about__container {
  background-image: linear-gradient(180deg, #9A52B8 0%, $openaq-color 100%);
  width: 100%;
  float: left;
}

.about__content {
  background-color: $base-color;
  padding: ($global-spacing * 2) 0;
  float: left;
  width: 100%;
}

.about-footer {
  float: left;
  padding: ($global-spacing * 4) 0;
  h2 {
    font-size: 3rem;
    margin-bottom: $global-spacing;
  }
  li {
    display: inline-block;
    margin-right: $global-spacing;
  }
}

